:root {
    --full-height: 100vh;
    --left-bar: 40vw;
    --right-bar: calc(100vw - var(--left-bar));
    --logo-side-length:150px;
    --select-color: rgb(133, 206, 255);
    --outline: 1px solid red;
    --padding-from-left: 36px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
}

body, .text-container {
    display: flex;
    flex-direction: row wrap;
}
.left {
    min-height: var(--full-height);
    min-width: var(--left-bar);
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.text-container {
    position: relative;
    top: 25vh;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: rgba(0,0,0,0.6);
    color: #ffffff;
}

#logo {
    width: var(--logo-side-length);
    height: var(--logo-side-length);
}

#text {
    text-align: center;
    align-items: center;
    font-size: 54px;
    padding-left: var(--padding-from-left);
}

.right {
    min-height: var(--full-height);
    min-width: var(--right-bar);
    background-color: #ededed;
    flex-flow: column nowrap;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: calc((1/3) * var(--full-height));
    margin: 0;
    padding: 18px var(--padding-from-left);
    font-size: 20px;
}

#form-dummy-text {
    font-size: 18px;
    padding-left: var(--padding-from-left);
}

.form {
    display: flex;
    flex-flow: column wrap;
    background-color: #ffffff;
}

.input-box {
    display: flex;
    flex-flow: row wrap;
    text-transform: uppercase;
    padding-bottom: 20px;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.4);
}

.create-account {
    display: flex;
    padding: 16px var(--padding-from-left);
}

.submit {
    width: 250px;
    height: 50px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 18px;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.4);
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: max(40%, 170px);
    margin: 0 16px 8px var(--padding-from-left);
}

.log-in-box {
    display: flex;
    gap: 10px;
    padding: 0 var(--padding-from-left);
}

#log-in {
    display: flex;
    align-items: center;
}

input {
    border: 1px solid grey;
    border-radius: 3px;
    height: 24px;
}

input:valid {
    background-color: white;
}

input:invalid {
    border: 2px solid #ff0000;
}

input:focus {
    background-color: white;
    border: 2px solid var(--select-color);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    outline: none;
}

a {
    color: #ff0000;
}

